<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="utf-8"/>
    <title>YourQuestAI</title>
    <link href="{{ url_for('static',
              filename='styleBadEnd.css')}}" rel="stylesheet"
          type="text/css"/>

</head>
<body>
<div class="containerMain">
    <div class="image">
        <img id="downloadImage" src="{{image}}">
        <div class="imageOverlay" onclick="downloadFile()">
                <div class="textimageOverlay">Click to download the image</div>
            </div>
    </div>
    <div class="containerContentAndButtonAlign">
        <div class="container">
            <div class="title">Defeat!</div>
            <div class="textPlot">
               {{plot}}
            </div>
        </div>
        <div class="homeButtonContainer">
          <form action=" " method="POST">
                  <input type="submit" class="homeButton" value="Journey into a new adventure!">
            </form>
        </div>
    </div>
    <div class="grad"></div>
</div>
<script>
  window.onload = function() {
  document.getElementById("gradOverlay").style.display = "none";
  document.getElementById("animate").style.display = "none";
  }
  window.onbeforeunload = function() {
  document.getElementById("gradOverlay").style.display = "flex";
  document.getElementById("animate").style.display = "flex";
  }

function downloadFile() {
        let image = document.getElementById("downloadImage");
        let link = document.createElement('a');
        link.href = image.src;
        link.download = "image.jpg";
        link.target="_blank"
        console.log(link.href)
        link.click();
 }

</script>
</body>
</html>