<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="utf-8"/>
    <title>YourQuestAI</title>
    <link href="{{ url_for('static',
              filename='styleForGameTab.css')}}" rel="stylesheet"
          type="text/css"/>

</head>
<body>
<div id="gradOverlay"></div>
<h2 id="animate">HANG ON! AI is thinking...</h2>
<div class="container750">
    <div class="containerMain">
        <div class="containerTextAndButtons">
            <div class="text">
                {{plot}}
            </div>
            <div class="containerButtons">
                <form action=" " method="POST">
                    <input class="choice" name="choice" type="submit" value="{{choice1}}">
                    <input class="choice" name="choice" type="submit" value="{{choice2}}">
                    <input class="choice" name="choice" type="submit" value="{{choice3}}">
                </form>
            </div>
        </div>
        <div class="image">
            <img id="downloadImage" src="{{image}}">
            <div class="imageOverlay" onclick="downloadFile()">
                <div class="textimageOverlay">Click to download the image</div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="grad"></div>
<script>
  window.onload = function() {
  document.getElementById("gradOverlay").style.display = "none";
  document.getElementById("animate").style.display = "none";
  }
  window.onbeforeunload = function() {
  document.getElementById("gradOverlay").style.display = "flex";
  document.getElementById("animate").style.display = "flex";
  }

function downloadFile() {
        let image = document.getElementById("downloadImage");
        let link = document.createElement('a');
        link.href = image.src;
        link.download = "image.jpg";
        link.target="_blank"
        console.log(link.href)
        link.click();
 }

</script>
</body>
</html>