<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="utf-8"/>
    <title>YourQuestAI</title>
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static',
              filename='style.css')}}"/>

</head>
<body>
<div class="border1">
<div class="border2">

<img src="static/images/logo.png" alt="Logo" width="700">
<div class="forma">
    <div class="first">
        Welcome to your next adventure!
    </div>

  <form>
      <label for="fname"><div class="textask">What is your name, Adventurer?</div></label>
    <input type="text" id="fname" name="name" placeholder="Your name...">
       <button class="button">RANDOM</button>
    <label for="lname"><div class="textask">Tell me a book/videogame:</div></label>
      <input type="text" id="lname" name="story" placeholder="Book/Videogame...">
      <button class="button">RANDOM</button>
      <input type="submit" value="START YOUR JOURNEY">

  </form>
    </div>
<div id="grad"></div>
    </div>
</div>
</body>
</html>