<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="utf-8"/>
    <title>YourQuestAI</title>
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static',
              filename='style.css')}}"/>

</head>
<body>
<div class="border1">
<div class="border2">

<img src="static/images/logo.png" alt="Logo" width="700">
<div class="forma">
    <div class="first">
        Welcome to your next adventure!
    </div>

  <form action="" method="POST">
      <label for="name"> <div class="textask">What is your name, Adventurer?</div></label>
    <input type="text" id="name" name="variableName" placeholder="Your name..." required>
       <button class="button">RANDOM</button>
    <label for="story"><div class="textask">Tell me a book/videogame:</div></label>
      <input type="text"  id="story" name="variableStory" placeholder="Book/Videogame..." required>
      <button class="button">RANDOM</button>
      <input type="submit" value="START YOUR JOURNEY">
  </form>
    </div>
<div id="grad"></div>
    </div>
</div>
</body>
</html>
