<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="utf-8"/>
    <title>YourQuestAI</title>
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static',
              filename='style.css')}}"/>

</head>
<body>

<img src="static/images/logo.png" alt="Logo" width="700">
<div class="logo"></div>

<div class="forma">
    <div class="first">
        Welcome to your next adventure!
    </div>

  <form action="/action_page.php">
      <label for="fname"><div class="textask">What is your name, Adventurer?</div></label>
    <input type="text" id="fname" name="firstname" placeholder="Your name...">

    <label for="lname"><div class="textask">Tell me a book/videogame:</div></label>
    <input type="text" id="lname" name="lastname" placeholder="Book/Videogame...">

    <input type="submit" value="START YOUR JOURNEY">
  </form>
</div>
</body>
</html>