@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
  background-image: url("images/start_background.jpg");
  z-index: -50;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

}
.border1{
   border: 2px;
   border-style: solid;
   border-color: #bfa002;
   height:97vh;
   margin:5px;
   padding:5px;

    }

.border2{
   border: 1px;
   border-style: solid;
   border-color: #bfa002;
  height:99.8%;
     }

.panou{
  margin-left: auto;
  margin-right: auto;
  color: white;
  width: 85%;
  border: 2px;
  border-radius: 10px;
  border-color: #bfa002;
  background-color: rgba(14, 50, 57, 0.7);
  margin-top: 52vh;
  border-style: solid;
  margin-bottom:1em;
  padding: 20px 10px;
}
.panouButton{
  margin-left:auto;
  margin-right:auto;
  color: white;
  width: 80%;
  border: 2px;
  border-radius: 10px;
  border-color: #bfa002;
  background-color: rgba(14, 50, 57, 0.7);
  margin-top: 1em;
  border-style: solid;
  padding: 7px 10px;
  display:block;
   }
.panouButton:hover {
  background-color: #e6c000;
}
.textMain{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  margin-left: 1%;
  text-align: left;
}
#grad {
  position:fixed;
  width: 100%;
  padding:0;
  margin:0;
  top:52vh;
  left:0;
  height: 48vh;
  background-image: linear-gradient(to top, rgba(14,14,14,1), rgba(14,14,14,1),rgba(14,14,14,1),rgba(14,14,14,0));
  display: block;
  z-index: -1;
  }

