@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
body, html {
  height: 100%;
  margin: 0;
}
.bg{
  background-image: url("images/start_background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  justify-content: center;
  align-items: center;
  position: relative;
  padding:3% 5% 8% 5%;
  width: 33%;
  height:50%;
  background-image: linear-gradient(to top, rgba(14, 50, 57, 1),rgba(14,14,14,1),rgba(14,14,14,0.9),rgba(14,14,14,0.8),rgba(14,14,14,0.5));
  border: 1px;
  border-color: #bfa002;
  border-style: solid;
}
.containerButtonAndTextInput {
  display: flex;
  align-items: center;
  justify-content:space-between;
}

.welcometext{
  font-family: 'Satisfy', cursive;
  font-size: 47px;
  color: #ffffff;
  text-align: center;
  text-shadow: 2px 2px 5px black;
  margin-bottom:5vh;
  }

.gametitle{
  font-family: 'Roboto Slab' ;
  font-size: 100px;
  color:#bfa002;
  text-align: center;
  text-shadow: 2px 2px 5px black;
  }
input[type=text], select {
  width: 64%;
  font-family: 'Roboto Slab' ;
  font-size: 25px;
  padding: 11px 0px;
  padding-left:20px;
  display: inline-block;
  border: 1px solid #bfa002;
  box-sizing: border-box;
}
.textask{
  font-family: 'Roboto Slab' ;
  font-size: 25px;
  color: #bfa002;
  margin-top: 2vh;
  margin-bottom: 1vh;
  margin-left:auto;
  margin-right:auto;
}
input[type=submit] {
  font-family: 'Satisfy', cursive;
  width: 100%;
  padding: 10px 15px;
  background-color: rgba(14,14,14,.2);
  color: white;
  display: block;
  border: 1px solid #bfa002;
  cursor: pointer;
  margin-top:5vh;
  font-size: 30px;
}
input[type=submit]:hover {
background: #13464f;
}
.button {
  font-family: 'Roboto Slab' ;
  background-color: #bfa002;
  color: white;
  width:34%;
  padding: 11px 0px;
  display: inline-block;
  font-size: 25px;;
  border: 2px solid #675700;
  }

.button:hover {
  background-color: #e6c000;
}
.panou {

}
/* queries for media */
@media only screen and (max-width: 1300px) {
 .container {
  justify-content: center;
  align-items: center;
  position: relative;
  padding:3% 5% 6% 5%;
  width: 50%;
  height:60%;
  background-image: linear-gradient(to top, rgba(14, 50, 57, 1),rgba(14,14,14,1),rgba(14,14,14,0.9),rgba(14,14,14,0.8),rgba(14,14,14,0.5));
  border: 1px;
  border-color: #bfa002;
  border-style: solid;
}
}