@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
body {
  background-image: url("images/start_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -50;
}

.first{
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  color: #b99d01;
  text-align: center;
  padding: 10px;
}
.forma{
  height: 32em;
  margin: auto;
  width: 70%;
  border: 3px;
  border-radius: 10px;
  border-color: #b99d01;
  background-color: rgba(14, 50, 57, 0.7);
  margin-top:17em;
  border-style: solid;
}

.logo{
  background-image: url("images/logo.png");
  background-repeat: no-repeat;
  height: 20em;
  margin: auto;
}
