@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    background-image: url("images/start_background.jpg");
  z-index: -50;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}


.first{
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  text-shadow: 2px 2px 5px black;
  }
.forma{
  margin-top:2vh;
  margin-top:2vh;
  padding-top:2vh;
  padding-bottom:4vh;
   margin-left: auto;
  margin-right: auto;
  width: 70%;
  border: 2px;
  border-radius: 10px;
  border-color: #bfa002;
  background-color: rgba(14, 50, 57, 0.7);
  border-style: solid;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

input[type=text], select {
  width: 40%;
  margin-left: 25%;
  padding: 15px 0px;
  display: inline-block;
  border: 2px solid #bfa002;
  border-radius: 10px;
  box-sizing: border-box;
  margin-bottom: 1em;
}
.textask{
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  color: #bfa002;
  margin-left: 25%;
  margin-top: 1em;
}
input[type=submit] {
  width: 40%;
  padding: 15px 20px;
  background-color: #55bdff;
  color: white;
  display: block;
  border: 2px solid #009cff;
  border-radius: 10px;
  cursor: pointer;
  margin-top:2em;
  margin-left:auto;
  margin-right:auto;
  font-size: 16px;
}
input[type=submit]:hover {
  background-color: #a0dafe;
}

.button {
  background-color: #bfa002;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 2px solid #675700;
  border-radius: 10px;
  margin-top:1em;
  }
.button:hover {
  background-color: #e6c000;
}
#grad {
  position:fixed;
  width: 100%;
  padding:0;
  margin:0;
  top:52vh;
  left:0;
  height: 48vh;
  background-image: linear-gradient(to top, rgba(14,14,14,1), rgba(14,14,14,1),rgba(14,14,14,1),rgba(14,14,14,0));
  display: block;
  z-index: -1;
  }

  .border1{
   border: 2px;
   border-style: solid;
   border-color: #bfa002;
   height:97vh;
   margin:5px;
   padding:5px;
    }

.border2{
   border: 1px;
   border-style: solid;
   border-color: #bfa002;
  height:99.8%;
     }
