@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html{
height:100%;

}

body{
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-image: url("images/bg2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  justify-content: center;
  align-items: center;
}

.grad {
 height: 100%;
 width: 100%;
 margin:0;
 top:0;
 z-index:-100;
 position:absolute;
 background-image: linear-gradient(to top, rgba(14, 29, 32, 1),rgba(14,14,14,1),rgba(14,14,14,0.9),rgba(14,14,14,0.8),rgba(14,14,14,0.5));
}

.container750{
 height:750px;
 width:100%;
 display:flex;
 justify-content: center;
 align-items: center;
}

.containerMain{
 height: 100%;
 width: 80%;
 display:flex;
 justify-content: center;
 align-items: center;
}
.containerTextAndButtons {
  height:100%;
  width:100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction:column;
  padding:20px;
  align-items: flex-end;
}
.containerButtons {
  height: 30%;
  width:100%;
  display: flex;
  align-items:flex-end;
}

.image {
 width:750px;
  height:750px;
  box-shadow: 0px 0px 10px 20px #0e0e0e inset;
  border: 1px;
  border-style: solid;
  border-color: #bfa002;
}
.image img {
  filter: sepia(0.30);
  position: relative;
  width:750px;
  height:750px;
  z-index: -1;
}
.text {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  font-family: 'Roboto Slab' ;
  font-style: italic;
  font-size: 18px;
  text-indent: 5vw;
  line-height: 1.6;
  letter-spacing: 1px;
  color: #ffffe6;
  text-align: justify;
  text-justify: inter-word;
  text-shadow: 2px 2px 20px black;
}
form{
 width:100%;
}
.choice{
  color: #ffffe6;
  width: 100%;
  border: 1px solid #bfa002;
  background-color: rgba(14, 50, 57, 0.7);
  margin-top: 20px;
  padding: 10px 10px;
  font-family: 'Roboto Slab' ;
  font-size: 17px;
  padding-left:20px;
  text-align: left;
  letter-spacing: 1px;
}
.choice:hover {
 cursor: pointer;
 outline: 1px solid #bfa002;
 outline-offset: 5px;
 border: 1px solid rgba(14, 50, 57, 0.7);
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}
@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes load {
    0%{
    opacity: 0.1;
				filter: blur(2px);
				letter-spacing: 5px;

        }
    100%{
        }
}

#animate {
    position:absolute;
    font-weight:300;
    z-index:100;
	display:flex;
	justify-content: center;
	align-items: center;
	height:100%;
	margin: auto;
	font-family: 'Roboto', sans-serif;
	animation: load 2s infinite 0s ease-in-out;
	animation-direction: alternate;
	color:#bfa002;
	font-size:50px;
	text-shadow: 2px 2px 5px black;
}
#gradOverlay {
display:flex;
 height: 100%;
 width: 100%;
 margin:0;
 top:0;
 z-index:99;
 position:absolute;
 background-image: linear-gradient(to top, rgba(14,14,14,1), rgba(14,14,14,0.6));
}

/*animate CSS button*/

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button{
  color: #ffffe6;
  width: 100%;
  border: 1px solid #bfa002;
  background-color: rgba(14, 50, 57, 0.7);
  margin-top: 20px;
  padding: 10px 10px;
  font-family: 'Roboto Slab' ;
  font-size: 17px;
  padding-left:20px;
  text-align: left;
  letter-spacing: 1px;

  position: relative;
  background: none;
  border: none;
}
span{
  display: block;
  padding: 25px 80px;
}
button::before, button::after{
  content:"";
  width: 0;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: #fff;
}

span::before, span::after{
  content:"";
  width:2px;
  height:0;
  position: absolute;
  transition: all 0.2s linear;
  background: #fff;
}
button:hover::before, button:hover::after{
  width: 100%;
}
button:hover span::before, button:hover span::after{
  height: 100%;
}

/*----- button 4 -----*/
.btn-4::after{
  right:0;
  bottom: 0;
  transition-duration: 0.4s;
}
.btn-4 span::after{
  right:0;
  bottom: 0;
  transition-duration: 0.4s;
}
.btn-4::before{
  left: 0;
  top: 0;
  transition-duration: 0.4s;
}
.btn-4 span::before{
  left: 0;
  top: 0;
  transition-duration: 0.4s;
}

